<button (click)="createEntity()">
    <mat-icon>add</mat-icon>
</button>

<!-- <div *ngFor="let entity of (entities$ | async)" class="container">
    <a [routerLink]="[entity.entity_id]"> {{entity.entity_name}} </a>
    <button (click)="deleteEntity(entity)">
        <mat-icon>delete</mat-icon>
    </button>
</div> -->

<mat-list>
    <mat-list-item *ngFor="let entity of (entities$ | async)" class="container">
        <span mat-line> {{entity.entity_name}}  </span>
        <button mat-icon-button (click)="deleteEntity(entity)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="[entity.entity_id]">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
